{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Asok's</span> <span class="smaller">magnificent project</span></h1>
  <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, an&nbsp;application created&nbsp;by<br><span class="font-normal">Asok</span>.</p>
</div>
{% endblock content %}
